.shift {
	padding-left: 4px;
}

.shift span {
	font-size: 0.85em;
}

.shift-detail {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.util-drawer {
	display: inline-block;
	position: absolute;
	overflow: hidden;
	width: 0;
	transition-duration: 0.3s;
	white-space: nowrap;
}

.shift-detail:hover > .util-drawer {
	width: 100px;
}
